.container {
  padding-top: 70px;
  height: 600px;
}

.home-text {
  margin-top: 120px;
}

.services-container .btn,
.collapse {
  width: 98%;
}

.contact-container .container,
.information-container .container {
  height: 500px;
}

.information-container p {
  text-wrap: balance;
}

i {
  font-size: 20px;
}
